/* Page Elements */
body {
	background-image: url("images/piink.gif");
	margin-top: 0px;
	margin-bottom: 0px;
}
body,td,th {
	color: #0076a3;
	font-family: Tahoma;
	font-size: x-small;
	font-weight: bold;
}
a:link {
	color: #00adef;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #00adef;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #00adef;
}
a:hover {
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #ec008c;
	color: #ec008c;
}
a:active {
	text-decoration: none;
	color: #9e005d;
}

/* Layout Structure */
.main {
	background-image: url("images/horiz.png");
	background-repeat: repeat-y;
	width: 820px;
	margin-right: auto;
	margin-left: auto;
}
.mayne {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.topp {
	height: 112px;
	width: 785px;
	margin-right: 10px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.bodztitl {
	background-image: url("images/bluu.gif");
	background-repeat: repeat;
	width: 560px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFCCE2;
	border-right-color: #FFCCE2;
	border-left-color: #FFCCE2;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 10px;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
	letter-spacing: -1px;
	padding-bottom: 10px;
}
.footer {
	font-family: Tahoma;
	font-size: x-small;
	font-weight: bold;
	color: #f49ac1;
	background-color: #FFE0EE;
	text-align: center;
	width: 798px;
	margin-right: 1px;
	margin-left: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFCCE2;
}


.bclowd {
	background-image: url("images/bcloud.gif");
	background-repeat: no-repeat;
	float: left;
	height: 112px;
	width: 140px;
}
.tpstar {
	background-image: url("images/banstars.gif");
	background-repeat: no-repeat;
	background-position: left 5px;
	float: right;
	height: 112px;
	width: 645px;
}
.bodd {
	width: 800px;
}
.mbod {
	float: right;
	width: 580px;
}
.banner {
	height: 100px;
	width: 645px;
	margin-top: 5px;
}
.cldbrd {
	margin-bottom: 10px;
}
.bodz {
	background-color: #FFE0EE;
	width: 540px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #FFCCE2;
	padding: 10px;
	text-align: justify;
	background-image: url("images/s-stars.gif");
	background-repeat: repeat;
}
.bodz h1 {
	font-size: small;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #00adef;
	letter-spacing: 2px;
	text-indent: 15px;
}
.bodz h2 {
	font-size: small;
	letter-spacing: 2px;
	text-indent: 15px;
}
.bodz h5 {
	color: #f06ea9;
	font-size: 15px;
	letter-spacing: 2px;
}
.bodz u {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #00adef;
	text-decoration: none;
}
#blockq {
	padding: 10px;
	background-image: url("images/bluu.gif");
	background-repeat: repeat;
	margin-left: 30px;
	border: 1px solid #00adef;
}

/* Side Panel */
.sbi {
	float: left;
	width: 220px;
}

.sbititle {
	background-image: url("images/sbihead.gif");
	background-repeat: no-repeat;
	height: 24px;
	width: 205px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: small;
	text-indent: 45px;
	letter-spacing: -0.5px;
}

.sbibod {
	padding: 10px;
	width: 180px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-family: Tahoma;
	font-size: x-small;
	font-weight: bold;
	background-color: #FFE0EE;
	border: 1px solid #FFCCE2;
	text-align: justify;
	background-image: url("images/s-stars.gif");
	background-repeat: repeat;
}
.sbi p {
	padding: 10px;
	width: 180px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #FFCCE2;
	background-image: url("images/s-stars.gif");
	background-repeat: repeat;
	text-align: justify;
}
#sbinav {
	width: 200px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-family: Tahoma;
	font-size: x-small;
	font-weight: bold;
	background-color: #FFE0EE;
	border-top: 1px solid #FFCCE2;
	border-right: 1px solid #FFCCE2;
	border-left: 1px solid #FFCCE2;
}
#sbinav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#sbinav ul a {
	background-color: #A7E6FF;
	display: block;
	color: #0076A3;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCCE2;
}
#sbinav ul a:hover {
	background-color: #FFCCE2;
	background-image: url("images/star.gif");
	background-repeat: no-repeat;
	background-position: 7px center;
	color: #f06ea9;
	padding-left: 30px;
}
::placeholder { 
	color: #f06ea9;
	opacity: 1; 
}
form {
padding:0px 15px;
}
input {
  font-family: "PT Sans",sans-serif;
  font-size: small;	
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #0076A3;
  border: 1px solid #A7E6FF;
  border-radius: 5px;
  background-image: url("images/s-stars.gif");

}
textarea {
  font-family: "PT Sans",sans-serif;
  font-size: small;	
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #0076A3; 
  border: 1px solid #A7E6FF;
  border-radius: 5px;
  background-image: url("images/s-stars.gif");

  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
input[type="file"] {
	color: #f06ea9;
	display: inline-block;
    padding: 6px 12px;
}
input[type="file"]::file-selector-button {
	background: #FFCCE2;
	border: 1px solid #A7E6FF;
    border-radius: 5px;
	color: #0076A3;
  }
button.btn.btn-red {
	background-color: #A7E6FF;;
	border: none;
	border-radius: 5px;
	color: #0076A3;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 2px;
	cursor: pointer;
}
button.btn.btn-red:hover {
	background-color: #0076A3;
	color: #A7E6FF;
}
button.btn.btn-red:active {
background-color: #0076A3;
box-shadow: 0 3px #666;
transform: translateY(4px);
}